
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @ViewBag.Title 
</h1>
<adress>
    Mihovljanska ulica 123<br />
    Čakovec 40000<br />
    <br />

</adress>

<strong>Email: </strong>vblservis@gmail.com<br />
<strong>Broj telefona: </strong> 040/123/123<br />