
@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<p>

    <br />
    <br />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #66CDAA;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #66CDAA;
        }

        
    </style>
    <table border="1">
        <tr>
            <th>Usluge</th>
            <th>PON</th>
            <th>UTO</th>
            <th>SRI</th>
            <th>ČET</th>
            <th>PET</th>
            <th>SUB</th>

        </tr>
        <tr>
            <td>Prodaja</td>
            <td>08:00 - 20:00</td>
            <td>08:00 - 20:00</td>
            <td>08:00 - 20:00</td>
            <td>08:00 - 20:00</td>
            <td>08:00 - 20:00</td>
            <td>10:00 - 17:00</td>

        </tr>
        <tr>
            <td>Servis</td>
            <td>08:00 - 16:00</td>
            <td>08:00 - 16:00</td>
            <td>08:00 - 16:00</td>
            <td>08:00 - 16:00</td>
            <td>08:00 - 16:00</td>
            <td>08:00 - 12:00</td>
        </tr>
        <tr>
            <td>Rezervni dijelovi</td>
            <td>09:00 - 15:00</td>
            <td>09:00 - 15:00</td>
            <td>09:00 - 15:00</td>
            <td>09:00 - 15:00</td>
            <td>09:00 - 15:00</td>
            <td>09:00 - 12:00</td>
        </tr>



    </table>




</p>

