
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> @ViewBag.Title</h1>
<p>
    Od 2020. bavimo se servisiranjem i održavanjem motornih vozila. Naša je briga kvalitetno se<br />
    pobrinuti za Vaše vozilo u svim segmentima servisnog održavanja vozila sukladno standardima i
    preporukama proizvođača vozila.<br />

</p>
<p>
    U našem servisnom pogonu očekuje Vas osposobljeno servisno osoblje i dobro opremljena servisna radionica. <br />
    Svi djelatnici školovani su i osposobljeni u suradnji sa vodećim proizvođačima rezervnih dijelova, alata i opreme.<br />

</p>
<p>
    Servisiranje automobila je posao koji pred nas često stavlja velike izazove.  Iako su kvarovi i problemi naša<br />
    svakodnevnica to nas ne obeshrabruje. Baš suprotno, to je ono što ovaj posao čini dinamičnim, a nas motivira,<br />
    tjera da napredujemo i neprestano učimo kako bismo ostali konkurentni i ono najvažnije, kako bismo mogli<br />
    učiniti sve što je u našoj moći da bi svaka komponenta Vašeg automobila postala ispravna i pouzdana!<br />
</p>
<p>

    Svjesni smo da predati ključ svog limenog ljubimca u ruke mehaničaru nije uvijek jednostavno i baš zbog toga<br />
    komunikaciju uvijek nastojimo održavati otvorenom, a poslovanje transparentnim te na taj način opravdati ukazano <br />
    povjerenje.<br />

</p>
<p>

    Za Vas danas radimo gotovo sve vrste mehaničkih popravaka, održavanje i popravke plinskih instalacija na automobilima,<br />
    servisiranje autoklime, računalnu dijagnostiku, pripremu za tehnički pregled vozila i ekotest te prodaju, montažu i <br />
    balansiranje autoguma. Za većinu usluga koje vršimo potrebno se unaprijed naručiti. Iznimka su punjenje autoklime, <br />
    dijagnostika te jednostavniji mehanički  popravci.<br />
</p>
<br />
<br />
<img src="~/Slike/SveSlike/repair5.jpg" />