
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message </h3>
<h4>@ViewBag.Description </h4>

<p>

    <br />
    <br />
    VBL Servis je mreža neovisnih servisa koji pružaju visokokvalitetni servis, održavanje i   popravke vozila marki Audi. <br />
    Jamčimo pristupačnu kvalitetu.Umjesto da po cijelom gradu tražite dijelove, a zatim i servis, uštedite vrijeme i <br />
    novac i dođite u VBL servis, gdje na jednom mjestu možete obaviti sve potrebno. U VBL servisu možete  pronaći sve<br />
    dijelove za vaš automobil te često prigodne akcije, poklone i popuste. Posjetite nas te na vrijeme i po povoljnim <br />
    cijenama obavite servis na Vašem limenom ljubimcu.<br />
    <br />
    <br />

   
    <img src="~/Slike/SveSlike/repair1.jpg" width="500" ;height="600" class="center" />


</p>
<br />
<br />
<p>
    Redovno servisiranje i pregled vozila prema servisnoj knjizi je najpovoljniji i dugoročno najisplativiji način održavanja automobila.<br />
    Redovne servise obavljamo u i van jamstvenog roka vozila a rade se prema servisnim uputama proizvođača vozila.
</p>
<p>
    Potrebno Vam je testiranje amortizera, kočnica ili motora? Montaža guma ili optika vozila? Ili možda samo stručan savjet?<br />
    Sve to, limariju i lakirnicu, nudimo u VBL servisu. Stručnost, profesionalnost i dugo radno iskustvo djelatnika jamstvo <br />
    su kvalitete rada, a njihov odnos prema poslu pokazat će Vam da o Vašemu vozilu netko istinski vodi brigu. Uz odlično obavljen <br />
    dogovoreni posao, naši će Vas serviseri upozoriti na ostale eventualne nedostatke ili potrebne intervencije.<br />
</p>

<br />
<br />
<img src="~/Slike/SveSlike/repair2.jpg" width="500" ;height="600" />
<br />
<br />
<p>

    Nemojte tempirati servis vozila dan prije godišnjeg odmora ili nekog važno putovanja, a posebno ne dan prije nego morate na<br />
    tehnički pregled. Iz iskustva Vam možemo reći da baš u takvim slučajevima automobil odluči 'otkazati poslušnosti'.Naime,<br />
    nikad ne znate kakvi se problemi kriju 'ispod haube' i koliko je vremena potrebno da se oni dijagnosticiraju i riješe. Ako je<br />
    auto redovno održavan i servisiran najveća je vjerojatnost da će samo osnovi servis i pregled biti i više nego dovoljni, ali<br />
    ako ste svjesno odgađali ovu obvezu onda budite spremni na to da će vjerojatno biti potrebno više vremena kako bi se problemi<br />
    otklonili.Pronađite vremena za svoj automobil, pokušajte ga redovito održavati i ne zanemarivati neobične zvukove koji su prvo<br />
    upozorenje da nešto nije uredu. Pojačati radio u takvoj situaciji možda je trenutno najeftinije rješenje ali se sigurno ne isplati.<br />
    Samo osnovni pregled i servis može Vas spasiti troška od nekoliko tisuća kuna za popravak.<br />
</p>
<br />
<br />
<img src="~/Slike/SveSlike/repair3.jpg" width="500" ;height="600" />
<br />
<br />
<p>
    Održavanje vozila je bitno, zbog Vaše sigurnosti, sigurnosti drugih ljudi u prometu, dugotrajnosti samog vozila ali i Vašeg<br />
    budžeta. Krenuti na put s pouzdanim i održavanim autom uštedjet će Vam puno novca i još više živaca.<br />
</p>
<br />
<br />
<img src="~/Slike/SveSlike/repair4.jpg" width="500" ;height="600"/>
<br />
<br />
<p>
    <br />
    <h5>Informacije</h5>
    -Tvrtka: VBL Servis vozila dioničko društvo<br />
    -Sjedište: Mihovljanska ulica 123 Čakovec<br />
    -OIB: 123123123123<br />
    -IBAN: 123123123123 kod Zagrebačke banke d.d. Zagreb<br />




</p>